<div class="component-wrapper forgot-component">

    <header>
        <div class="header-content">
            <div class="header-content-inner container-fluid">
                <h1>Recover your password</h1>
                <hr>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="well well-lg">
                            <recover></recover>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

</div>