<div class="component-wrapper welcome-component">

    <header>
        <div class="header-content">
            <div class="header-content-inner container-fluid">
                <h1>Sign into your account</h1>
                <hr>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="well well-lg">
                            <login></login>
                        </div>
                    </div>
                </div>

                <p>Don't have an account? <br> <a href="#" class="btn btn-link">Sign Up Now</a></p>
            </div>
        </div>
    </header>

</div>