<div class="component-wrapper sidemenu-component">
    <ul class="nav nav-sidebar">
        <li class="active"><a [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a [routerLink]="['/demo']">Demo</a></li>
        <li><a [routerLink]="['/analytics']">Analytics</a></li>
        <li><a [routerLink]="['/export']">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a [routerLink]="['/navitem1']">Nav item</a></li>
        <li><a [routerLink]="['/navitem2']">Nav item again</a></li>
        <li><a [routerLink]="['/navitem3']">One more nav</a></li>
        <li><a [routerLink]="['/navitem4']">Another nav item</a></li>
        <li><a [routerLink]="['/navitem5']">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a [routerLink]="['/navitem6']">Nav item again</a></li>
        <li><a [routerLink]="['/navitem7']">One more nav</a></li>
        <li><a [routerLink]="['/navitem8']">Another nav item</a></li>
    </ul>
</div>